/**
 This mixing is from the user Merott
 in stack overflow:
 https://stackoverflow.com/questions/23274338/how-to-keep-wrapped-flex-items-the-same-width-as-the-elements-on-the-previous-ro
 */
@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 2000px) {
    flex-grow: 1;
    flex-basis: $flex-basis;
    max-width: 100%;

    $multiplier: 1;
    $current-width: 0px;

    @while $current-width < $max-viewport-width {
        $current-width: $current-width + $flex-basis;
        $multiplier: $multiplier + 1;

        @media(min-width: $flex-basis * $multiplier) {
            max-width: percentage(1/$multiplier);
        }
    }
}

$selection_item_width: 120px;

.o_adm {
    &_family_select_item {
        img {
            opacity: .5;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        &_add {
            width: $selection_item_width !important;
        }

        flex: 0 1 10%;
        min-width: $selection_item_width;
        max-width: $selection_item_width;
    }

    &_family_selection {
        li {
            list-style: none;
        }
    }
}