@import "../abstract/placeholders";

.background-message {
    @extend %flex-center-elements;
    text-align: center;
    font-size: 64px;
    height: 90%;
}

.surcharge-blocking-invoices-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000094;
    width: 100%;
    height: 100%;
    font-size: 4em;
    color: white;
}
