.form-select {
    text-align: left;
    display: inline-block;
    //overflow: hidden;
    background: white;
    min-height: 44px;
    font-family: "Lato", serif;
    font-size: 20px;
    color: #444;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220, 220, 220) inset;
    box-sizing: border-box;
    width: 80%;
}

button {
    width: 110px;
    height: 40px;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px rgba(60,60,60,0.1);
    background: rgba(0,0,0,0.05);
}

button.button {
    line-height: 0 !important;
}

.confirm {
    float: right;
}

.cancel {
    float: left !important;
    margin-left: 10px;
    background: #ff5d5d !important;
    color: white;
}