.form-upload {

    label.label-upload {
        display: inline-block;
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
    }

    input[type="file"]{
        display: none;
    }
}

.card-sticky-save {
    position: sticky;
    @media (min-height: 720px) {
        top: 50%;
    }
    @media (max-height: 719px) {
        bottom: 0;
    }
}