@mixin breakpoint($point) {
    @if $point == phone {
        @media (max-width: 767px) {
            @content
        }
    }
}

@mixin diplay-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin transform($prop) {
    -webkit-transform: $prop;
    -moz-transform: $prop;
    -ms-transform: $prop;
    -o-transform: $prop;
    transform: $prop;
}

@mixin align-items($align) {
    -webkit-box-align: $align;
    -webkit-align-items: $align;
    -moz-box-align: $align;
    -ms-flex-align: $align;
    -ms-grid-row-align: $align;
    align-items: $align;
};